/*

This document is written in BEM.
Block = .block
Element = .block__element
Modifier = .block__element--modifier || .block--modifier

*/

/* Block ******************************************************************/

.background {
  height: 100%;
  width: 100%;
  background-image: url(https://s20.postimg.org/dj5remcbh/dark_wall.png);
  background-repeat: repeat;
  overflow-x: hidden;
}

.container {
  width: 700px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.searchBar {
  position: relative;
  top: 110px;
  right: 80px;
  width: 0%;
  min-width: 70px;
  height: 70px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.6s;
     -moz-transition: width 0.6s;
          transition: width 0.6s;
  -webkit-backface-visibility: hidden;
  border-radius: 70px
  box-shadow: 1px 1px 1px #000;
}

.button {
  width: 70px;
  height: 70px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 70px;
  color: #fff;
  background: rgba(120, 120, 120, 1);
  font-size: 40px;
  -webkit-box-shadow: 1px 1px 1px #000;
     -moz-box-shadow: 1px 1px 1px #000;
          box-shadow: 1px 1px 1px #000;
  -webkit-box-shadow: inset 0 0 10px #000;
     -moz-box-shadow: inset 0 0 10px #000;
          box-shadow: inset 0 0 10px #000;
}

.searchResults{
  width: 100%;
  position: relative;
  top: 200px;
}

/* Element ****************************************************************/

                /* Modifying Jquery UI autocomplete text*/
.searchBar__text, .ui-autocomplete {
  font-size: 30px;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 1px #333;
  font-family: 'Economica',sans-serif;
}

.searchBar__input {
  height: 70px;
  width: 100%;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  border-radius: 70px;
  padding-left: 30px;
}

.searchBar__clear {
  position: absolute;
  right: 90px;
  top: 8px;
  color: rgba(120, 120, 120, 1);
  font-size: 40px;
  z-index: 11;
  cursor: pointer;
}

.searchResults__wikipediaLink {
  text-decoration: none;
}

.searchResults__wikipediaPage {
  border-radius: 10px;
  padding: 5px 20px;
  margin: 20px;
}

.searchResults__wikipediaTitle{
  text-decoration: none;
  color: #000;
  font-family: 'Economica',sans-serif;
}

.searchResults__wikipediaText {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 5px;
}

/* Modifier ***************************************************************/

              /* Modifying Jquery UI autocomplete background*/
.layout--light, .ui-autocomplete {
  background-image: url(https://s20.postimg.org/64gflosul/solid.png);
  box-shadow: 1px 1px 1px #000;
}
                /* Removing hovering part of Jquery UI autocomplete*/
.ui-helper-hidden-accessible {
  display: none;
}
                /* Modifying Jquery UI autocomplete*/
.ui-autocomplete {
  border-radius: 10px;
  top: 160px !important;
}

.searchBar--open {
  width: 78%
}

.searchBar__text--wikipediaText{
  font-size: 20px;
  font-weight: normal;
  color: rgba(40, 40, 40, 1);
}

.button--submit{
  background: #fff; /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
  filter: alpha(opacity=0); /* IE 5-7 */
  opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1;
}

.button--searchBar {
  z-index: 15;
}

.button__icon {
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.button--randomPage {
  top: 110px;
  right: 0;
}

.button__icon--exclamation {
  z-index: 10;
  text-decoration: none;
  color: #fff;
}
.button__icon--times{
  margin-top: 5px;
}
